@import '../../../../styles/index.scss';

.label {
  font-family: $ui-font;
  font-style: normal;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 2rem;
  color: $gray-7;
  text-transform: uppercase;
  margin-left: 0.4rem;
  .require {
    color: $dust-red;
    margin-right: 4px;
  }
  .optional {
    margin-left: 5px;
    font-family: $ui-font;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 2rem;
    color: $gray-5;
  }
}
