@import '../../../../styles/index.scss';

.action-call-wrapper {
  position: relative;
  background: linear-gradient(#fff, #e6f9ff);

  .hero-img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
