@import '../../../../styles/mediaQueries.scss';

.name-and-pencil {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  @include bp(tablet) {
    flex-flow: row nowrap;
  }

  img {
    @include bp(tablet) {
      margin-right: 1.6rem;
    }
  }
  p {
    color: $white;
    font-family: $text-font;
    font-size: 1.6rem;
    line-height: 2.8rem;
    display: none;
    @include bp(tablet) {
      display: block;
    }
  }
}
