@import '../../../../styles/index.scss';

.header-menu {
  display: block;
  height: 0;
  overflow: visible;
  position: relative;
  align-self: flex-end;
  @include safe-zone();

  // Hide nav when collapsed
  &.collapsed nav {
    display: none;
  }

  nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    @include bp(tablet) {
      width: min-content;
      padding: 0 1rem;
      left: unset;
      right: 0;
      align-items: flex-end;
    }
    ul {
      width: 100%;
      z-index: 5;

      border-top: 1px solid #0003;

      background-color: $brand-blue;
      @include bp(tablet) {
        min-width: 15rem;
        background-color: $brand-blue-6;
        border-radius: 0 0 1.6rem 1.6rem;
        text-align: center;
      }

      li {
        &:last-child {
          border-radius: 0 0 1.6rem 0;

          @include bp(tablet) {
            border-radius: 0 0 1.6rem 1.6rem;
          }
        }
        @include bp(tablet) {
          &.hide-on-tablet {
            display: none;
          }
        }

        a,
        .link {
          display: block;
          color: $white;
          white-space: nowrap;
          padding: 2rem;

          @include bp(tablet) {
            padding: 1rem 4rem;
          }
        }

        a {
          font-family: $text-font;
          font-size: 2.2rem;
          line-height: 2.6rem;
          text-transform: uppercase;
          text-decoration: none;
          transition: all 0.1s ease;
          &:hover {
            transition: all 0.1s ease;
            background-color: #fff2;
          }
        }

        .link {
          font-family: $display-font;
          font-size: 115%;

          @include bp(tablet) {
            padding: 1.5rem;
          }
          .codename {
            color: $lime-green;
          }
        }
      }
    }
  }
}
