@import '../../../../styles/index.scss';
.content-wrapper {
  @include safe-zone();
  .old-meets-new-content {
    margin: 0rem 5rem;
    h2 {
      @include small-boogaloo;
      margin-bottom: 2rem;
      text-transform: uppercase;
    }
  }
}
