@import '../../../styles/index.scss';

.message {
  font-family: $ui-font;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 1.6rem;
  margin-top: 0.2rem;
  color: $error;
}
