@import '../../../../styles/index.scss';

.contact-hero-img {
  // squigly stuffs
  background-image: url('../../../../assets/img/string-background.png');
  background-color: $brand-blue-8;
  .contact-wrapper {
    //rgba so opacity isnot passed down to child componentes
    background-color: rgba(0, 59, 122, 0.95);
    .contact-container {
      //layout
      @include safe-zone();
      padding: 6rem 0rem;
      > h2 {
        color: $white;
        @include large-boogaloo();
        margin-bottom: 2rem;
      }
    }
  }
}
