@import '../../../../styles/index.scss';

.our-mission-content {
  @include safe-zone;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 4rem;
  padding: 0rem 2.5rem 0 2.5rem;
  > div {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    h2 {
      @include large-boogaloo;
      text-transform: uppercase;
    }
  }
}
