@import '../../../../styles/index.scss';

.our-mission-content {
  @include safe-zone;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  h2 {
    @include large-boogaloo;
    text-transform: uppercase;
    margin: 2rem 0rem;
  }
}
